.header-list {
    display: flex;
    cursor: pointer;
    text-decoration: none;
    color: #F2F2F3;
    pointer-events: none;
}

.header-list-disabled {
    display: flex;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-inactive-color);
}

.item-text {
    white-space: nowrap;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}