.block {
    position: relative;
    flex-grow: 0;
    width: 272px;
    height: 208px;
    cursor: grab;
}

.price {
    height: 24px;
    align-self: center;
    display: flex;
    flex-direction: row;
}

.title {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    text-align: center;
    width: 640px;
    height: 64px;
}

.image {
    width: 520px;
    height: 240px;
    align-self: center;
}
.divimages{
    width: 100%;
    height: 250px;
    text-align: center;
    align-items: center;
    padding:20px;
    margin-top: 40px;
}
.frame {
    align-self: center;
    text-align: center;
    align-items: center;
    margin-top: 16px;
    min-height: 30px;
}
.nutrition {
    gap: 20px;
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.value {
    width: 120px;
    height: 56px;
    text-align: center;
}
.imgd {
    width: 100%;
    text-align: center;
    align-items: center;
}
.closep {
    margin-right: 10px;
}
.wrapName{
    height: 48px;
}
.nameCenter{
    align-items: center;
}
.sectionWrap{
    display: flex;
    flex-direction: column;
}