* {
    margin: 0;
}
.login_form {
    width: 480px;
    height: 430px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.wrap_content_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form_login {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 24px;
    padding-top: 24px;
}
.enter_button {
    display: inline-block;
}
.wrap_link {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.a_link {
    color: #4c4cff;
    text-decoration: none;
}