.content_box {
    padding-top: 40px;
    width: 600px;
    justify-self: end;
    max-height: 910px;
}
.tab_box {
    display: flex;
    padding-top: 20px;
}
.ul_box {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    height: inherit;
    max-width: inherit;
    width: 600px;
    max-height: 656px;
}

.ul > li {
    padding: 0;
    margin: 0;
}